<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> The Wall </title>
  </head>

  <body>

    <h1> Message Board </h1>
    <form action="/messagepost" method='post'>
      Name: <input type="text" name="name" value=""><br>
      Message: <input type="textarea" cols='40' rows='20' name="message" value=""><br>
      <input type="submit" name="button" value="Submit Message"><hr
    </form>

    <% for(var msg in messages) { %>
      <p>Name: <%= messages[msg].name %></p>
      <p>Message: <%= messages[msg].message %></p>
      <% for(var i = 0; i < messages[msg].comments.length; i ++) { %>
        <p>Name: <%= messages[msg].comments[i].name %></p>
        <p>Comment: <%= messages[msg].comments[i].comment %></p>
      <% } %>
        <form class="" action="/commentpost" method="post">
          <p>Name: <input type="text" name="commentName" value=""></p>
          <p>Comment: <textarea name="comment" rows="8" cols="80"></textarea></p>
          <input type="submit" value="Post comment">
          <input type="hidden" name="message_id" value="<%= messages[msg].id %>">
        </form>
    <% } %>


  </body>
</html>
